* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100vh;
    background-color: black;
}



.logo img {
    width: 200px;
    height: 200px;
}

.main_btn button {
    margin-top: 140px;
    color: #fff;
    font-size: 1.2em;
    font-weight: 700;
    width: 200px;
    padding: 18px 0;
    border-radius: 8px;
    transition: all 0.8s ease;
}

.main_btn button:hover {
    transform: rotateY(35deg);
    animation: all 2s infinite;
    animation-direction: alternate;

}

.modal-content {
    --bs-modal-border-radius: none;
}

.btn-close {
    --bs-btn-close-focus-shadow: none;
}

.modal-body {
    padding: 0;
    position: relative;
}

.btn_styling {
    background-color: black;
}

.img_styling img {
    padding: 60px;
}

.modal_close {
    position: absolute;
    top: 3%;
    right: 2%;
}



/* Responsive */
@media only screen and (max-width: 600px) {
    .logo {
        justify-content: center;
    }

    .logo img {
        width: 200px;
        height: 200px;
    }

    .modal-body button {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
}